
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container is-max-desktop pt-6">
    <div class="container has-text-centered">
        <p class="title">
          Welcome Login
        </p>
    </div>
    <div class="hero-body">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-small'%>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:'checkbox', type:'checkbox' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="field is-grouped">
        <div class="control">
          <%= f.submit "Log in", data: {turbo: false} ,class: 'button is-black' %>
        </div>
        <%# <div class="control"> %>
          <%# <%= link_to "Sing up", new_user_registration_path ,class:'button is-outlined' %>
        <%# </div> %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
<% end %>




